/* webflow start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 400;
  overflow: hidden;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.container {
  position: static;
  z-index: 3;
  max-width: 1300px;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1600px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.event-info {
  /* max-width: 500px; */
  /* margin-left: 0px; */
}

@media screen and (min-width: 1920px) {
  .event-info {
    /* max-width: 600px; */
  }
}

.title-bold {
  font-size: 58px;
  line-height: 66px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

.title-secondary {
  color: #ff7f30;
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
}

.directions-form-container {
  margin-top: 40px;
}

.w-form {
  margin: 0 0 15px;
}

.directions-form label {
  position: relative;
}

.directions-form label,
.directions-form input {
  clear: both;
}

.directions-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.directions-form label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 14px;
  background: url(https://uploads-ssl.webflow.com/604bf2ef08cd1b653a122272/60621d919746fcdefcc41b8d_ico-map-location.svg)
    center / contain no-repeat;
}

.directions-form input {
  padding: 10px 30px;
  border: 1px solid #4c4c4c;
  background: #000;
  border-radius: 0;
}

.directions-form .w-input,
.directions-form .w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.directions-form .w-input {
  padding: 8px 12px 8px 34px;
}
.pac-target-input:not(:-webkit-autofill) {
  /* animation-name: endBrowserAutofill; */
}

/* webflow end */

@media only screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
  .directions-form .w-input {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .directions-form .w-input {
    width: 100%;
  }
}
